
  {% set count = namespace(value=0)%}
  {% for i in range(0, len) %}
<section class = 'section'>

<table class = 'table is-bordered'>
    <thead>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

      <tr>
        <th>Name</th>
        <th>Game Score</th>
        <th>Set 1</th>
        <th>Set 2</th>
        <th>Set 3</th>
        <th>Set 4</th>
        <th>Set 5</th>
      </tr>

    </thead>
    <tbody>
      <tr>
        {% if server[count.value] == '0' %}
          <td>{{name[count.value]}}
            <ion-icon name="tennisball-outline"></ion-icon></td>
        {% else %} 
          <td>{{name[count.value]}}</td>
        {% endif %}
        <td>{{gm[count.value]}}</td>
        <td>{{set1[count.value]}}</td>
        <td>{{set2[count.value]}}</td>
        <td>{{set3[count.value]}}</td>
        <td>{{set4[count.value]}}</td>
        <td>{{set5[count.value]}}</td>
      </tr>
      <tr>
        {% if server[count.value] == '1' %}
          <td>{{name[count.value+ 1]}}
          <ion-icon name="tennisball-outline"></ion-icon>
          </td>
          <td>{{gm[count.value + 1]}}</td>
          <td>{{set1[count.value + 1]}}</td>
          <td>{{set2[count.value + 1]}}</td>
          <td>{{set3[count.value + 1]}}</td>
          <td>{{set4[count.value + 1]}}</td>
          <td>{{set5[count.value + 1]}}</td>
        {% else %} 
          <td>{{name[count.value + 1]}}</td>
          <td>{{gm[count.value + 1]}}</td>
          <td>{{set1[count.value + 1]}}</td>
          <td>{{set2[count.value + 1]}}</td>
          <td>{{set3[count.value + 1]}}</td>
          <td>{{set4[count.value + 1]}}</td>
          <td>{{set5[count.value + 1]}}</td>
        {% endif %}
        {% set count.value = count.value + 2%}
      </tr>

     
    </tbody>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  </table>
</section>
{% endfor %}